---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h2>Welcome !</h2>

<ul>
	<li><a href="/about/">About</a></li>
	<li><a href="/dev-blog/">Dev Blog</a></li>
	<li><a href="/pianopiano/">Piano Piano</a></li>
	<li><a href="/chanclette/">⛵️ Voile</a></li>
</ul>
